@import url("https://webgl2fundamentals.org/webgl/resources/webgl-tutorials.css");
html,
body {
    margin: 0;
    overflow: hidden;
}

#console_error {
    color: red;
    height: 1em;
    width: 1em;
    position: fixed;
    visibility: hidden;
}

#canvas {
    width: 50em;
    height: 50em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}